<{* 添加页面和编辑页面共用的HTML代码 *}>
<div class="control-group">
    <label class="control-label"><span class="required">*</span>应用名称</label>
    <div class="controls">
        <input type="text" placeholder="应用名称…" id="media_appName" name="media[appName]" value="<{$media.appName}>">
    </div>
</div>
<div class="control-group <{if $media.id}>v-hide<{/if}>">
    <label class="control-label">平台类型</label>
    <div class="controls" value="1">
        <label class="radio inline">
            <input type="radio" name="media[os]" value="1"> Android
        </label>
        <label class="radio inline">
            <input type="radio" name="media[os]" value="2"> iOS
        </label>
    </div>
</div>
<{if $media.id}>
<div class="control-group">
    <label class="control-label">平台类型</label>
    <div class="controls" value="1">
        <label class="radio inline" style="padding-left: 0px;">
            <{if $media.os eq 1}>Android<{else if $media.os eq 2}>iOS<{/if}>
        </label>
    </div>
</div>
<{/if}>

<div class="control-group <{if $media.id}>v-hide<{/if}>">
    <label class="control-label">接入方式</label>
    <div class="controls" value="1">
        <label class="radio inline">
            <input type="radio" name="media[sdkType]" value="1" <{if $company.sdkType=='1'}> checked="checked"<{/if}>> SDK/JS
        </label>
        <label class="radio inline">
            <input type="radio" name="media[sdkType]" value="2" <{if $company.sdkType=='2'}> checked="checked"<{/if}>> S2S
        </label>
    </div>
</div>
<{if $media.id}>
<!-- 编辑 -->
<div class="control-group">
    <label class="control-label">接入方式</label>
    <div class="controls" value="1">
        <label class="radio inline" style="padding-left: 0px;">
            <{if $media.sdkType eq 1}>SDK/JS
            <{else if $media.sdkType   eq 2}>S2S<{/if}>
        </label>
    </div>
</div>
<{/if}>

<div class="control-group" data-image-choosed="1">
    <label class="control-label"><span class="required">*</span>图标</label>
    <div class="controls ">
        <div class="campaign-table" style="margin-top:0;">
            <div class="campaign-table-header">
                <span class="btn btn-success fileinput-button btn-primary-customize">
                    <i class="icon-picture icon-white"></i>
                    <span>添加图标</span>
                    <input id="iconUpload" data-url="/site/upload?type=media&file=iconUpload" class="imgupload" data-list="#imageList" type="file" name="iconUpload" multiple>
                </span>
                <span style="color: red; margin-left: 10px;">尺寸：200x200</span>
            </div>
        </div>
        <input type="hidden" name="media[appIcon]" value="<{if $media}><{$media.appIcon}><{/if}>" />
        <img class="<{if !$media}>hide<{/if}>" id="iconShow" src="<{if $media}><{$media.appIcon|attach_url}><{/if}>" width="100px" height="100px" />
    </div>
</div>
<div class="control-group">
    <label class="control-label" id="media_appBundle_label">
        <span class="hide">
            <span class="required">*</span>应用包名称
        </span>
        <span class="hide">
            <span class="required">*</span>iTunes URL
        </span>
    </label>
    <div class="controls">
        <input type="text" placeholder="" id="media_appBundle" name="media[appBundle]" value="<{$media.appBundle}>">
    </div>
</div>
<div class="control-group">
    <label class="control-label"><span class="required">*</span>媒体类型</label>
    <input type="hidden" name="media[appCategory]" value="" />
    <div class="controls" id="media_appCategory">
    </div>
</div>
<div class="control-group">
    <label class="control-label"><span class="required">*</span>结算方式</label>
    <div class="controls">
        <input type="checkbox" name="media[Enable]" value="1" />
        <span>启用</span>
        <br />
        <i id="radio-hidden" style="display: none;">
        <{if !$media}>
        <label class="radio inline">
            <input type="radio" name="media[_mediaPrice_mediaSharingRate]" value="201" <{if $company.payType == 201}> checked="checked" <{/if}>/>
            <span>按照实时协议价</span>
        </label>
        <br />
        <label class="radio inline">
            <input type="radio" name="media[_mediaPrice_mediaSharingRate]" value="0" <{if $company.payType < 100 && $company.payType > 0}> checked="checked" <{/if}>>
            <span>协议支付价格</span>
            <input type="text" name="media[mediaPrice]" value="<{if $company}><{if $company.mediaPrice > 0 }><{$company.mediaPrice}><{/if}><{/if}>"  placeholder="金额..." style="width: 60px;" />
            <span>元</span>
            <span class="radio-frequency">
                <select name="company[payType]" style="width: 100px;">
                    <option value="3" <{if $company}><{if $company.payType eq 3}>selected="selected"<{/if}><{/if}> >每天</option>
                    <option value="2" <{if $company}><{if $company.payType eq 2}>selected="selected"<{/if}><{/if}> >每次点击</option>
                    <option value="1" <{if $company}><{if $company.payType eq 1}>selected="selected"<{/if}><{/if}> >每千次展示</option>
                </select>
            </span>
        </label>
        <br />
        <label class="radio inline">
            <input type="radio" name="media[_mediaPrice_mediaSharingRate]" value="101" <{if $company.payType == '101'}> checked="checked" <{/if}> disabled/>
            <span>媒体收入占售出额比例</span>
            <input type="text" name="media[mediaSharingRate]" value="<{if $media}><{if $media.payType > 100}><{$media.mediaSharingRate}><{/if}><{/if}>" style="width: 60px;"  disabled/>
            <span>%</span>
        </label>
        <{else}>
            <{if $media.payType lt 100}>
            <label class="radio inline" style="padding-left: 0px;">
                <input type="hidden" name="media[_mediaPrice_mediaSharingRate]" value="0">
                <span>协议支付价格</span>
                <input type="text" name="media[mediaPrice]" value="<{$media.mediaPrice}>"  placeholder="金额..." style="width: 60px;" />
                <span>元</span>
                <input type="hidden" name="media[payType]" value="<{$media.payType}>" />
                <span>
                <{if $media.payType eq 3}>
                    每天
                <{/if}>
                <{if $media.payType eq 2}>
                    每次点击
                <{/if}>
                <{if $media.payType eq 1}>
                    每千次展示
                <{/if}>
                </span>
            </label>
            <{else if $media.payType gt 200}>
            <label class="radio inline" style="padding-left: 0px;">
                <input type="hidden" name="adslot[_mediaPrice_mediaSharingRate]" value="201" />
                <span>按照实时协议价</span>
            </label>
            <{else}>
            <label class="radio inline" style="padding-left: 0px;">
                <input type="hidden" name="media[_mediaPrice_mediaSharingRate]" value="101" />
                <span>媒体收入占售出额比例</span>
                <input type="text" name="media[mediaSharingRate]" value="<{$media.mediaSharingRate}>" style="width: 60px;"  />
                <span>%</span>
            </label>
            <{/if}>
        <{/if}>
        </i>
    </div>
</div>