<table class="campaign-table-body table table-striped customrize">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="交易名称" sort="dealName"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="类型" sort="dealType"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="结算方式" sort="firstname" class="number_row"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="开始日期" sort="startDate"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="结束日期" sort="endDate"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="收入" sort="cost" class="number_row"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="展示数" sort="impressions" class="number_row"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="点击数" sort="clicks" class="number_row"}>
            <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="点击率" sort="ctr" class="number_row"}>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <{if $records}>
        <{foreach from=$records item=v}>
        <tr>
            <td>&nbsp;</td>
            <td>
                <{if $v.status eq 1}>
                <a href="<{url route='deal/detail' dealId=$v.dealId}>" title="<{$v.dealName}>"><{$v.dealName}></a>
                <{else if $v.status eq 2}>
                <a href="<{url route='deal/detail' dealId=$v.dealId}>" title="<{$v.dealName}>" style="color: #808080;"><{$v.dealName}></a>
                <{/if}>
            </td>
            <td><{if $v.dealType eq 0}>公开<{else if $v.dealType eq 1}>私有<{/if}></td>
            <td class="number_row">
                <{if $v.payType eq 101}>
                <{$v.mediaSharingRate}>%
                <{else if $v.payType eq 1}>
                ￥<{$v.mediaPrice|number_format:2}><br />CPM
                <{else if $v.payType eq 2}>
                ￥<{$v.mediaPrice|number_format:2}><br />CPC
                <{else if $v.payType eq 3}>
                ￥<{$v.mediaPrice|number_format:2}><br />CPD
                <{/if}>
            </td>
            <td><{$v.startDate|date_format:'%Y/%m/%d'}></td>
            <td><{$v.endDate|date_format:'%Y/%m/%d'}></td>
            <td class="number_row">￥<{if $v.cost}><{$v.cost|number_format:2}><{else}>0<{/if}></td>
            <td class="number_row"><{if $v.impressions}><{$v.impressions|number_format}><{else}>0<{/if}></td>
            <td class="number_row"><{if $v.clicks}><{$v.clicks|number_format}><{else}>0<{/if}></td>
            <td class="number_row"><{if $v.ctr}><{$v.ctr|number_format}><{else}>0<{/if}>%</td>
            <td>&nbsp;</td>
        </tr>
        <{/foreach}>
        <tr class="amount-tr">
            <td colspan="2">&nbsp;</td>
            <td style="text-align:left;">总计</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="number_row">￥<{$amount.cost|number_format:2}></td>
            <td class="number_row"><{$amount.impressions|number_format}></td>
            <td class="number_row"><{$amount.clicks|number_format}></td>
            <td class="number_row"><{$amount.ctr}>%</td>
            <td>&nbsp;</td>
        </tr>
        <{else}>
        <tr>
            <td colspan="12">列表为空</td>
        </tr>
        <{/if}>
    </tbody>
</table>
<{include file="../../../../develop/views/zh_cn/_common/ajaxPaging.html"}>
<script>
    // 触发编辑按钮事件
    $('i.icon-edit-custom,i.icon-eye-open').closest('td').hover(function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'visible'});
    }, function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'hidden'});
    });

</script>