<table class="campaign-table-body table table-striped customrize">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>操作</th>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="广告位名称" sort="appName"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="应用名称" sort="adslotName"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="消耗" sort="cost" class="number_row"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="展示数" sort="impressions" class="number_row"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="点击数" sort="clicks" class="number_row"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="点击率" sort="ctr" class="number_row"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="eCPM" sort="ecpm" class="number_row"}>
        <{include file="../../../../develop/views/zh_cn/_common/column_sort.html" name="eCPC" sort="ecpc" class="number_row"}>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <{if $records}>
    <{foreach from=$records item=v}>
    <tr>
        <td>&nbsp;</td>
        <td>
            <{if $v.status eq 1}>
            <a href="<{url route='/operate/deal/detailChange_status' dealId=$v.dealId status=2 mediaId=$v.mediaId adslotId=$v.adslotId}>" confirmLang="base.confirmPause"><i class="icon-stop"></i></a>
            <{elseif $v.status eq 2}>
            <a href="<{url route='/operate/deal/detailChange_status' dealId=$v.dealId status=1 mediaId=$v.mediaId adslotId=$v.adslotId}>" confirmLang="base.confirmStart"><i class="icon-on"></i></a>
            <{elseif $v.status eq 3}>
            <i class="icon-pause-2 icon-white"></i>
            <{/if}>
        </td>
        <td><{if $v.adslotName}><{$v.adslotName}><{else}>所有广告位<{/if}></td>
        <td><{$v.appName}></td>
        <td class="number_row">¥<{if $v.cost}><{$v.cost|number_format:2}><{else}>0.00<{/if}></td>
        <td class="number_row"><{if $v.impressions}><{$v.impressions|number_format}><{else}>0<{/if}></td>
        <td class="number_row"><{if $v.clicks}><{$v.clicks|number_format}><{else}>0<{/if}></td>
        <td class="number_row"><{$v.ctr}>%</td>
        <td class="number_row"><{$v.ecpm|number_format:2}></td>
        <td class="number_row"><{$v.ecpc|number_format:2}></td>
        <td>&nbsp;</td>
    </tr>
    <{/foreach}>
    <tr class="amount-tr">
        <td colspan="2">&nbsp;</td>
        <td style="text-align:left;">总计</td>
        <td class="status_row">&nbsp;</td>
        <td class="number_row">￥<{$amount.cost|number_format:2}></td>
        <td class="number_row"><{$amount.impressions|number_format}></td>
        <td class="number_row"><{$amount.clicks|number_format}></td>
        <td class="number_row"><{$amount.ctr}>%</td>
        <td class="number_row"><{$amount.ecpm|number_format:2}></td>
        <td class="number_row"><{$amount.ecpc|number_format:2}></td>
        <td>&nbsp;</td>
    </tr>
    <{else}>
    <tr>
        <td colspan="13">列表为空</td>
    </tr>
    <{/if}>
    </tbody>
</table>
<{include file="../../../../develop/views/zh_cn/_common/ajaxPaging.html"}>
<script>
    // 触发编辑按钮事件
    $('i.icon-edit-custom,i.icon-eye-open').closest('td').hover(function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'visible'});
    }, function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'hidden'});
    });

    // 启动和暂停按钮
    $('i.icon-stop, i.icon-on').closest('a').click(function(){
        var object = $(this);
        $.confirm('{'+object.attr('confirmLang')+'}', function(){
            $.ajaxCall(object.attr('href'), function() {
                <{$ajaxFun}>();
            })
        }, null, 200);
        return false;
    });
</script>