<{include file="../../../../develop/views/zh_cn/_common/head.html"}>
<body>
<!-- 头部导航 start -->
<{include file="../../../../develop/views/zh_cn/_common/header.html"}>
<!-- 头部导航 end -->
<!-- 主体内容 start -->
<div class="main-container clearfix">
    <div class="main-content">
        <div class="content-body">
            <!--<div class="breadcrumb-con">
                <ul class="breadcrumb">
                    <li><a href="<{url route='deal/index'}>">全部交易</a> <span class="divider">></span></li>
                    <li class="active"><{$deal.dealName}></li>
                </ul>
            </div>-->
            <div class="clearfix company-info-container content-body-head">
                <div class="deal-info left">
                    <h4><{$deal.dealName}></h4>
                    <div class="company-info-detail">
                        <a href="javascript:void (0);" style="cursor: default;">开发者 <span><{$company.companyName}></span></a>
                    </div>
                </div>
                <div class="company-account info-box left">
                    <div class="info expense">
                        <h4>当日已消耗</h4>
                        ¥<span><script src="<{url route='/develop/site/todayAllCost'}>"></script></span>
                    </div>
                    <div class="info balance">
                        <h4>累计消耗</h4>
                        ¥<span><script src="<{url route='/develop/site/allAllCost'}>"></script></span>
                    </div>
                </div>
                <a class="btn add-adgroup btn-primary-customize right add-right-btn" href="<{url route='edit' id=$deal.id}>" style="margin-top: 10px;">
                    <i class="icon-pencil icon-white"></i>编辑交易
                </a>
            </div>
            <div class="block-space"></div>
            <!-- 交易详情信息 start -->
            <div class="deal-detail-table">
                <table class="table" style="">
                    <thead>
                        <tr>
                            <th style="">交易详情:</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>交易类型</td>
                            <td><{if $deal.dealType eq 0}>公开竞价<{else if $deal.dealType eq 1}>私有竞价<{/if}></td>
                        </tr>
                        <tr>
                            <td>结算方式</td>
                            <td>
                                <{if $deal.payType gt 100}>
                                媒体收入占售出额比例 <{$deal.mediaSharingRate}>%
                                <{else}>
                                协议支付价格 <{$deal.mediaPrice}>元 <{if $deal.payType eq 1}>每千次点击<{/if}><{if $deal.payType eq 2}>每次点击<{/if}><{if $deal.payType eq 3}>每天<{/if}>
                                <{/if}>
                            </td>
                        </tr>
                        <{if $deal.dealType eq 1}>
                        <tr>
                            <td>公司/广告系列</td>
                            <td>
                                <{section  loop=$allNames name=n start=0 max=6}>
                                <span style="display: inline-block;"><{$allNames[n]}></span>
                                <{if !$smarty.section.n.last}>
                                <span style="display: inline-block; width: 20px;">, </span>
                                <{/if}>
                                <{/section}>
                                <{if $smarty.section.n.total gt 5}>
                                <span class="dot-more" style="cursor: pointer; display: inline-block; border: 1px solid rgba(0, 0, 0, 0.2); color: rgba(0, 0, 0, 0.2); border-radius: 3px; padding: 0 4px;">...</span>
                                <{/if}>
                            </td>
                        </tr>
                        <{/if}>
                        <tr>
                            <td>开始日期</td>
                            <td><{$deal.startDate|date_format:'%Y/%m/%d'}></td>
                        </tr>
                        <tr>
                            <td>结束日期</td>
                            <td><{$deal.endDate|date_format:'%Y/%m/%d'}></td>
                        </tr>
                        <tr>
                            <td>售出底价</td>
                            <td><{$deal.bidfloor}>元 每千次展示</td>
                        </tr>
                        <tr>
                            <td>最后更新时间</td>
                            <td><{$deal.modificationTime|date_format:'%Y/%m/%d'}></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="deal-popover">
                <{section  loop=$allNames name=n start=3}>
                <span style="display: inline-block;"><{$allNames[n]}></span>
                <{if !$smarty.section.n.last}>
                <span style="display: inline-block; width: 20px;">, </span>
                <{/if}>
                <{/section}>
            </p>
            <!-- 交易详情信息 end -->
            <div class="block-space"></div>
            <!-- 表单时间选择 start -->
            <div id="searchTimeBox" style="width: 300px;">
                <{include file="../../../../develop/views/zh_cn/_common/doubleCalendarForm.html"}>
            </div>
            <!-- 表单时间选择 end -->
            <div class="block-space"></div>
            <!-- 交易区块 start -->
            <div class="campaign-table">
                <div class="campaign-table-header campaign-table-header-f">
                    <div class="stat-type-btn">
                        <span>广告位</span>
                        <span style="margin-left: 5px; font-size: 12px; color: #6E6E6E; font-weight: 100;"><input type="checkbox" name="throwType" value="1" style="margin-top: 0px;" onclick="if($(this).prop('checked')) {ajaxDealAdPage('throw=1');} else {ajaxDealAdPage('throw=0');}" />仅显示运行中的广告位</span>
                    </div>
                    <div class="stat-filter-btn contentOpt hide" style="display: block;">
                        <a class="filter-down-a" href="<{url route='deal/exportDeal' dealid=$deal.id timestr=$timeStr}>"></a>
                        <a class="filter-search-a" id="search-a" href="javascript: void(0);" style="margin-right: 10px;" data-searid="dealList"></a>
                        <ul class="dropdown-menu" id="search-box">
                            <li class="show-name"><input type="text" name="searchtxt" placeholder="搜索..."></li>
                        </ul>
                        <script>
                            $(function() {
                                $("#search-a").click(function() {
                                    var searchId = $(this).data("searid");
                                    $("#search-box").show().position({
                                        of: $( "#search-a" ),
                                        my: "right top",
                                        at: "right bottom"
                                    }).find(":text").focus().blur(function() {
                                        setTimeout(function() {
                                            $("#search-box").hide().find(".show-name").nextAll().remove();
                                        }, 400);
                                    }).keyup(function() {
                                        var url = "/develop/adslot/adslotNameSearch/dealid/<{$deal.id}>";
                                        url += "/name/" + $("input[name='searchtxt']").val();
                                        $.ajaxCall(url, function(result) {
                                            $("#search-box .show-name").nextAll().remove();
                                            // 选择所有查询结果
                                            if (result[0]) {
                                                var clickFun = "javascript:$.dealSearch('"+ $("input[name='searchtxt']").val() +"');";
                                                $("#search-box").append('<li><a href="'+clickFun+'">选择所有搜索结果</a></li>');
                                            }
                                            for (var i in result) {
                                                var clickFun = "javascript:$.dealSearch('"+ result[i] +"');";
                                                $("#search-box").append('<li><a href="'+clickFun+'">'+ result[i] +'</a></li>');
                                            }
                                        })
                                    });
                                    // 点击选中函数
                                    $.dealSearch = function (adslotname) {
                                        $("#"+searchId).data('adslotname', adslotname);
                                        var ajaxfun = $("#"+searchId).attr("ajaxfun");
                                        console.log(ajaxfun);
                                        $("#search-box").find(":text").val(adslotname);
                                        window[ajaxfun]();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="contentList" id="dealList" ajaxfun="ajaxDealAdPage" data-pagenum ="1" data-timestr="<{$timeStr}>" data-dealid="<{$deal.id}>" ></div>
            </div>
            <!-- 交易区块 end -->
        </div>
    </div>
</div>
<!-- 主体内容 end -->
<!-- 页脚 -->
<{include file="../../../../develop/views/zh_cn/_common/footer.html"}>
</body>
<script>
$(function() {
    // 日期选择框元素定位
    $("#searchTimeBox").position({
        of: $( "#search-a" ),
        my: "right-10 center",
        at: "left center"
    });

    // 初始化获取交易列表
    ajaxDealAdPage();

    // 公司/广告系列更多按钮元素定位及显示隐藏
    if ($( ".dot-more").length > 0) {
        $(".deal-popover" ).position({
            of: $( ".dot-more" ),
            my: "left+50 center",
            at: "right center"
        });

    }
    var pTime = null;
    $(".dot-more").hover(function() {
        clearTimeout(pTime);
        $(".deal-popover" ).addClass("deal-popover-hover");
    }, function() {
        pTime = setTimeout(function() {
            $(".deal-popover" ).removeClass("deal-popover-hover");
        }, 300);

    });
    $(".deal-popover").hover(function(){
        clearTimeout(pTime);
    }, function() {
        pTime = setTimeout(function() {
            $(".deal-popover" ).removeClass("deal-popover-hover");
        }, 300);
    });
});// onLoad End

/**
 * 异步获取交易列表的数据
 * @param param 改变请求列表的参数
 */
function ajaxDealAdPage(param) {
    ajaxPage("dealList", '/operate/deal/dealAdList', param);
}
</script>
</html>
