<{include file="../../../../develop/views/zh_cn/_common/head.html"}>
<body>
<!-- 头部导航 start -->
<{include file="../../../../develop/views/zh_cn/_common/header.html"}>
<!-- 头部导航 end -->
<!-- 主体内容 start -->
<div class="main-container clearfix">
    <div class="main-content">
        <div class="content-body">
            <div class="clearfix company-info-container content-body-head">
                <div class="company-info left">
                    <h4><{$company.companyName}></h4>
                    <div class="company-info-detail">
                        <a href="javascript:void (0);" style="cursor: default;">开发者 <span> <script src="<{url route='/develop/user/userCount'}>"></script></span></a>
                        <a href="<{url route='/develop/site/index'}>">应用 <span> <script src="<{url route='/develop/media/mediaCount'}>"></script></span></a>
                        <a href="javascript:void (0);" style="cursor: default;">交易 <span> <script src="<{url route='/operate/deal/dealCount'}>"></script></span></a>
                    </div>
                </div>
                <div class="company-account info-box left">
                    <div class="info expense">
                        <h4>当日已消耗</h4>
                        ¥<span><script src="<{url route='/develop/site/todayCost'}>"></script></span>
                    </div>
                    <div class="info balance">
                        <h4>累计消耗</h4>
                        ¥<span><script src="<{url route='/develop/site/allCost'}>"></script></span>
                    </div>
                </div>
                <a class="btn add-adgroup btn-primary-customize right add-right-btn" href="<{url route='add'}>" style="margin-top: 10px;">
                    <i class="icon-plus icon-white"></i>新建交易
                </a>
            </div>
            <div class="block-space"></div>
            <!-- 表单时间选择 start -->
            <div id="searchTimeBox">
                <{include file="../../../../develop/views/zh_cn/_common/doubleCalendarForm.html"}>
            </div>
            <!-- 表单时间选择 end -->
            <div class="block-space"></div>
            <!-- 交易区块 start -->
            <div class="campaign-table">
                <div class="campaign-table-header campaign-table-header-f">
                    <div class="stat-type-btn">
                        <span>交易</span>
                        <span id="throw-input" style="color: #000000; font-weight: 100; font-size: 14px;"><input type="checkbox" name="throwType" value="1" style="margin-top: 0px;" onclick="if($(this).prop('checked')) {ajaxDealPage('throw=1');} else {ajaxDealPage('throw=0');}" />仅显示运行中的交易</span>
                    </div>
                    <div class="stat-filter-btn contentOpt hide" style="display: block;">
                        <a class="filter-down-a" href="<{url route='deal/exportAll' timestr=$timeStr}>"></a>
                        <a class="filter-search-a" id="search-a" href="javascript: void(0);" style="margin-right: 10px;" data-searid="dealList"></a>
                        <ul class="dropdown-menu" id="search-box" style="padding: 10px;">
                            <li class="show-name"><input type="text" name="searchtxt" placeholder="搜索..."></li>
                        </ul>
                        <script>
                            $(function() {
                                $("#search-a").click(function() {
                                    var searchId = $(this).data("searid");
                                    var clickFun = "javascript:$.dealSearch('"+ $("input[name='searchtxt']").val() +"');";
                                    var firstAppendHtml = "";
                                    if (!$("input[name='searchtxt']").val()) {
                                        firstAppendHtml = '<li><a href="'+clickFun+'">全部</a></li>';
                                    }

                                    $("#search-box").show().position({
                                        of: $( "#search-a" ),
                                        my: "right top",
                                        at: "left top"
                                    }).append(firstAppendHtml).find(":text").focus().blur(function() {
                                        setTimeout(function() {
                                            $("#search-box").hide().find(".show-name").nextAll().remove();
                                        }, 400);
                                    }).keyup(function() {
                                        var url = "/operate/deal/dealNameSearch";
                                        url += "/name/" + $("input[name='searchtxt']").val();
                                        $.ajaxCall(url, function(result) {
                                            $("#search-box .show-name").nextAll().remove();
                                            // 选择所有查询结果
                                            if (result[0]) {
                                                var clickFun = "javascript:$.dealSearch('"+ $("input[name='searchtxt']").val() +"');";
                                                $("#search-box").append('<li><a href="'+clickFun+'">选择所有搜索结果</a></li>');
                                            } else {
                                                var clickFun = "javascript:$.dealSearch('"+ $("input[name='searchtxt']").val() +"');";
                                                $("#search-box").append('<li><a href="'+clickFun+'">全部</a></li>');
                                            }
                                            for (var i in result) {
                                                var clickFun = "javascript:$.dealSearch('"+ result[i] +"');";
                                                $("#search-box").append('<li><a href="'+clickFun+'">'+ result[i] +'</a></li>');
                                            }
                                        })
                                    });
                                    // 点击选中函数
                                    $.dealSearch = function (dealname) {
                                        $("#"+searchId).data('dealname', dealname);
                                        var ajaxfun = $("#"+searchId).attr("ajaxfun");
                                        $("#search-box").find(":text").val(dealname);
                                        window[ajaxfun]();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="contentList" id="dealList" ajaxfun="ajaxDealPage" data-pagenum ="1" data-timestr="<{$timeStr}>" data-dealname="" data-throw="0"></div>
            </div>
            <!-- 交易区块 end -->
        </div>
    </div>
</div>
<!-- 主体内容 end -->
<!-- 页脚 -->
<{include file="../../../../develop/views/zh_cn/_common/footer.html"}>
</body>
<script>
$(function() {
    // 日期选择框元素定位
    $("#searchTimeBox").position({
        of: $( "#search-a" ),
        my: "right-10 center",
        at: "left center"
    });

    // 初始化列表
    ajaxDealPage("pagenum=1");
}); // onLoad End

/**
 * 异步获取交易列表的数据
 * @param param
 */
function ajaxDealPage(param) {
    ajaxPage("dealList", '/operate/deal/dealList', param);
}
</script>
</html>
