<table class="campaign-table-body table table-striped customrize">
    <colgroup>
        <col style="width:30px;text-align: right;">
    </colgroup>
    <thead>
    <tr>
        <th>&nbsp;</th>
        <{include file="../_common/column_sort.html" name="交易名称" sort="dealName"}>
        <{include file="../_common/column_sort.html" name="类型" sort="dealType"}>
        <{include file="../_common/column_sort.html" name="结算方式" sort="firstname" class="number_row"}>
        <{include file="../_common/column_sort.html" name="开放者名称" sort="bidRequest" class="number_row"}>
        <{include file="../_common/column_sort.html" name="消耗" sort="cost" class="number_row"}>
    </tr>
    </thead>
    <tbody>
    <{if $records}>
    <{foreach from=$records item=v}>
    <tr>
        <td>
            <a confirmlang="base.confirmPause" href="/pc/campaign/change_status/id/417/status/2.html"><i class="icon-stop"></i></a>
        </td>
        <td style="text-align:left;">
            <a href="<{url route='adslot/detail' adslotId=$v.id}>"><{$v.dealName}></a>
            <a style="visibility: hidden;" href="<{url route='deal/edit' id=$v.id}>">
                <i class="icon-edit-custom"></i>
            </a>
        </td>
        <td><{if $v.dealType eq 0}>公开<{else if $v.dealType eq 1}>私有<{/if}></td>
        <td class="number_row">
            <{if $v.payType eq 101}>
            <{$v.mediaSharingRate}>%
            <{else if $v.payType eq 1}>
            <{$v.mediaPrice}><br />CPM
            <{else if $v.payType eq 2}>
            <{$v.mediaPrice}><br />CPC
            <{else if $v.payType eq 3}>
            <{$v.mediaPrice}><br />CPD
            <{/if}>
        </td>
        <td class="number_row"><{$v.developName}></td>
        <td class="number_row">￥<{if $v.cost}><{$v.cost}><{else}>0<{/if}></td>
    </tr>
    <{/foreach}>
    <!--    <tr class="amount-tr">
            <td>&nbsp;</td>
            <td style="text-align:left;">总计</td>
            <td class="status_row">&nbsp;</td>
            <td class="number_row">￥33,333.00</td>
            <td class="number_row">&mdash;</td>
            <td class="number_row">3,333.00</td>
            <td class="number_row">45450.00</td>
            <td class="number_row">0</td>
            <td class="number_row">0</td>
            <td class="number_row">0%</td>
            <td class="number_row">0%</td>
        </tr>-->
    <{else}>
    <tr>
        <td colspan="11">列表为空</td>
    </tr>
    <{/if}>
    </tbody>
</table>
<{include file="../_common/ajaxPaging.html"}>
<script>
    // 触发编辑按钮事件
    $('i.icon-edit-custom,i.icon-eye-open').closest('td').hover(function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'visible'});
    }, function(){
        $(this).find('i.icon-edit-custom,i.icon-eye-open').parent().css({visibility: 'hidden'});
    });

</script>