		<script src="/assets/common/js/lib/jquery.1.10.1.min.js"></script>
		<script src="/assets/common/js/lib/bootstrap.js"></script>
		<script src="/assets/common/components/datepicker/js/bootstrap-datepicker.js"></script>
		<script src="/assets/common/components/daterangepicker/moment.js"></script>
		<script src="/assets/common/components/daterangepicker/daterangepicker.js"></script>
		<script src="/assets/common/js/ext.js"></script>
		<script src="/assets/common/js/<{$controllerid}>.js"></script>
	</body>
</html>