<{include file="../_common/head.html"}>
<body>
<!-- 头部导航 start -->
<{include file="../_common/header.html"}>
<!-- 头部导航 end -->
<!-- 主体内容 start -->
<div class="main-container clearfix">
    <div class="main-content">
        <div class="content-body">
            <!-- 内容头部信息 start -->
            <div class="clearfix company-info-container content-body-head">
                <div class="company-info left">
                    <h4><{$company.companyName}></h4>
                    <div class="company-info-detail">
                        <a href="/pc/user/edit.html">应用 <span> <script src="<{url route='media/mediaCount'}>"></script></span></a>
                        <a href="/pc/message/index.html">广告位 <span> <script src="<{url route='adslot/adslotCount'}>"></script></span></a>
                    </div>
                </div>
                <div class="company-account info-box left">
                    <div class="info expense">
                        <h4>今日收入</h4>
                        ¥<span><script src="<{url route='site/todayCost'}>"></script></span>
                    </div>
                    <div class="info balance">
                        <h4>累计收入</h4>
                        ¥<span><script src="<{url route='site/allCost'}>"></script></span>
                    </div>
                </div>
                <a class="btn add-adgroup btn-primary-customize right" href="<{url route='media/add'}>" style="margin-top: 10px;">
                    <i class="icon-plus icon-white"></i>新建应用
                </a>
            </div>
            <!-- 内容头部信息 end -->
            <div class="block-space"></div>
            <!-- 表单时间选择 start -->
            <{include file="../_common/doubleCalendarForm.html"}>
            <!-- 表单时间选择 end -->
            <div class="block-space"></div>
            <!-- 数据图表 start -->
            <div class="tab-content report media-chart1 lloading" style="padding-top: 30px;">
                <div class="active" id="report_container" style="width: 100%; height: 100%"></div>
            </div>
            <!-- 数据图表 end -->
            <div class="block-space"></div>
            <!-- 应用和广告位列表 start -->
            <div class="campaign-table">
                <div class="campaign-table-header campaign-table-header-f">
                    <div class="stat-type-btn">
                        <a class="btn btn-link type-btn" href="javascript:void (0);" data-type="app">应用</a>
                        <span>|</span>
                        <a class="btn btn-link type-btn" href="javascript:void (0);" data-type="adslot">广告位</a>
                    </div>
                    <div class="stat-filter-btn contentOpt hide" id="adslotOpt">
                        <a class="filter-down-a" href="<{url route='adslot/exportAll' timestr=$timeStr}>"></a>
                        <div class="filter-select-os">
                            <select name="adslot-os">
                                <option value="0">全部</option>
                                <option value="1">Android</option>
                                <option value="2">IOS</option>
                            </select>
                        </div>
                        <div class="filter-select-dpi">
                            <select name="adslot-dpi">
                                <option value="0">全部</option>
                                <option value="300x250">300X250</option>
                                <option value="320x50">320X50</option>
                                <option value="320x480">320X480</option>
                                <option value="480x320">480X320</option>
                                <option value="728x90">728X90</option>
                                <option value="768x1024">768X1024</option>
                                <option value="1024x768">1024X768</option>
                                <option value="-1x-1">全屏</option>
                                <option value="">自定义</option>
                            </select>
                        </div>
                        <div style=" margin-right: 20px;" class="form-inline right diy-dpi hide">
                            <input type="text" name="diy_width" class="input-small" />
                            x
                            <input type="text" name="diy_height" class="input-small" />
                            <input type="button" class="btn btn-primary" value="确定" />
                        </div>
                    </div>
                    <div class="stat-filter-btn contentOpt hide" id="appOpt">
                        <a class="filter-down-a" href="<{url route='media/exportAll' timestr=$timeStr}>"></a>
                        <div class="filter-select-os">
                            <select name="app-os">
                                <option value="0">全部</option>
                                <option value="1">Android</option>
                                <option value="2">IOS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- app列表 start -->
                <div class="contentList hide" id="appList" data-pagenum ="1" data-timestr="<{$timeStr}>" data-ostype="0"></div>
                <!-- app列表 end -->
                <!-- 广告位列表 start -->
                <div class="contentList hide" id="adslotList" data-pagenum ="1" data-timestr="<{$timeStr}>" data-ostype="0" data-dpi="0"></div>
                <!-- 广告位列表 end -->
            </div>
            <!-- 应用和广告位列表 end -->
            <div class="block-space"></div>
        </div>
    </div>
</div>
<!-- 主体内容 end -->
<!-- 页脚 -->
<{include file="../_common/footer.html"}>
<script>
    $(function() {
        // 图表数据生成
        var chartUrl = "/develop/ajaxReport/mediaChartData/time/<{$timeStr}>";
        $.ajaxCall(chartUrl, function(result) {
            $("#report_container").chartPMP(result.chartData);
        });

        // 应用和广告位选项卡点击
        $(".type-btn").click(function() {
            // 再次点击检测
            if ($(this).hasClass("type-btn-click")) {
                return false;
            }

            // 初始化样式
            $(this).parent().children().removeClass("type-btn-click");
            $(this).addClass("type-btn-click");

            // 获取当前点击的类型
            var type = $(this).data('type');

            // 显示需要显示的类型类表
            $(".contentOpt").hide();
            $(".contentList").hide();
            $("#" + type + "List").show();
            $("#" + type + "Opt").show();
            if (type == "app") {
                ajaxAppPage();
            } else if (type == "adslot") {
                ajaxAdslotPage();
            }
        }).eq(0).click();

        // app系统表单改变事情
        $("select[name='app-os']").change(function() {
            ajaxAppPage("ostype=" + $(this).val());
        });


        // 广告位系统类型选择框改变事件
        $("select[name='adslot-os']").change(function() {
            ajaxAdslotPage("ostype=" + $(this).val());
        });

        // 广告位分辨率选择框改变事件
        $("select[name='adslot-dpi']").change(function() {
            if ($(this).val() == "") {

                $(".diy-dpi").show();
                //$.modalBox('自定义dpi查询');
                return false;
            }
            ajaxAdslotPage("dpi=" + $(this).val());
        });

        // 自定义分辨率
        $(".diy-dpi input[type='button']").click(function() {
            var diy_width = $("input[name='diy_width']").val();
            var diy_height = $("input[name='diy_height']").val();

            if (!parseInt(diy_width)) {
                $.alert("自定义宽度 不能为空且数字", null, 320);
                return false;
            }

            if (!parseInt(diy_height)) {
                $.alert("自定义高度 不能为空且数字", null, 320);
                return false;
            }

            var dpi = diy_width + "x" + diy_height;
            if (!$("select[name='adslot-dpi'][value='"+ dpi +"']").html()) {
                $("select[name='adslot-dpi']").append('<option value="'+ dpi +'">'+ dpi +'</option>');
            }
            $("select[name='adslot-dpi']").val(dpi).change();
            clearDiyDpi();
        });

    });

    /**
     * 异步获取应用列表
     * @param 提交的参数 格式范例:pagenum=1
     */
    function ajaxAppPage(param) {
        ajaxPage("appList", '/develop/media/appList', param);
    }

    /**
     * 清理自定义宽
     */
    function clearDiyDpi() {
        $("input[name='diy_width']").val('');
        $("input[name='diy_height']").val('');
        $(".diy-dpi").hide();
    }

    /**
     * 异步获取广告位列表
     * @param param 提交的参数 格式范例:pagenum=1
     */
    function ajaxAdslotPage(param) {
        ajaxPage("adslotList", '/develop/adslot/adslotList', param);
    }
</script>
</body>
</html>
