<{include file="../_common/head.html"}>
<body>
<!-- 头部导航 start -->
<{include file="../_common/header.html"}>
<!-- 头部导航 end -->
<!-- 主体内容 start -->
<div class="main-container clearfix">
    <div class="main-content">
        <div class="content-body">
            <!-- 广告位信息 start -->
            <div class="clearfix company-info-container" style="height: 48px; border: 1px solid #E3E3E3; padding: 10px; border-radius: 4px;">
                <div class="media-detail-img">
                    <img src="<{$adslot.appIcon|attach_url}>" width="48" height="48">
                </div>
                <div class="media-detail-info">
                    <div class="media-detail-info-name">
                        <span class="media-name"><{$adslot.adslotName}></span>
                        <span>
                            <a target="_blank" style="display: inline-block;" href="<{url route='adslot/edit' id=$adslot.adslotId}>"><i class="icon-edit-custom"></i></a>
                        </span>
                    </div>
                    <div class="media-detail-info-lot">
                        <a class="media-lot" href="<{url route='media/detail' id=$adslot['mediaId']}>" style="display: inline;"><{$adslot.appName}> </a>
                        <span class="media-lot-num">[<{$adslot.osName}>]</span>
                    </div>
                </div>
                <div class="right add-media">
                    <a class="btn btn-primary-customize" href="javascript: ajaxSdk(<{$adslot.adslotId}>);">
                        <i class="icon-globe icon-white"></i> 集成SDK
                    </a>
                </div>
            </div>
            <!-- 广告位信息 end -->
            <div class="block-space"></div>
            <!-- 表单时间选择 start -->
            <{include file="../_common/doubleCalendarForm.html"}>
            <!-- 表单时间选择 end -->
            <div class="block-space"></div>
            <!-- 数据图表 start -->
            <div class="tab-content report media-chart1 lloading" style="padding-top: 30px;">
                <div class="active" id="report_container" style="width: 100%; height: 100%"></div>
            </div>
            <!-- 数据图表 end -->
            <!-- 交易区块 start -->
            <div class="campaign-table" style="margin-top: 10px;">
                <div class="campaign-table-header campaign-table-header-f">
                    <div class="stat-type-btn">
                        <span>交易</span>
                    </div>
                    <div class="stat-filter-btn contentOpt hide" style="display: block;">
                        <a class="filter-down-a" href=""></a>
                        <span style=" vertical-align: bottom; display: block; float: right; height: 46px; margin-right: 10px;">
                            <input type="checkbox" name="throwType" value="1" style="margin-top: 0px;" onclick="if($(this).prop('checked')) {ajaxDealRePage('throw=1');} else {ajaxDealRePage('throw=0');}">
                            仅显示投放中
                        </span>
                    </div>
                </div>
                <div class="contentList" id="dealReList" data-pagenum ="1" data-timestr="<{$timeStr}>" data-mediaid="<{$adslot.mediaId}>" data-adslotid="<{$adslot.adslotId}>" >
            </div>
            <!-- 交易区块 end -->
        </div>
    </div>
</div>
<!-- 主体内容 end -->
<!-- 页脚 -->
<{include file="../_common/footer.html"}>
</body>
<script>
    $(function() {
        // 图表数据生成
        var chartUrl = "/develop/ajaxReport/adslotChartData/time/<{$timeStr}>/adslotId/<{$adslot.adslotId}>";
        $.ajaxCall(chartUrl, function(result) {
            $("#report_container").chartPMP(result.chartData);
        });

        // 初始化交易关系列表
        ajaxDealRePage();
    });

    /**
     * 异步获取交易关系列表
     * @param param 提交的参数 格式范例:pagenum=1
     */
    function ajaxDealRePage(param) {
        ajaxPage("dealReList", '/develop/deal/dealReList', param);
    }
</script>
</html>
