<{include file="../_common/head.html"}>
<body>
<!-- 头部导航 start -->
<{include file="../_common/header.html"}>
<!-- 头部导航 end -->
<!-- 主体内容 start -->
<div class="main-container clearfix">
    <div class="main-content">
        <form id="adslot_form" action="" method="POST" class="form-horizontal">
            <fieldset>
                <div class="fieldset-header fieldset-header-first"><a href="<{url route='media/detail' id=$adslot.mediaId}>" style="display: inline;"> <{$adslot.appName}></a> &gt; <span style="color: #619AB6">编辑广告位</span></div>
                <div class="content-header clearfix" style="height: 1px; border-bottom: 0px;">
                    <h3 class="content-name left"></h3>
                </div>
                <input type="hidden" name="adslot[mediaId]" value="<{$adslot.mediaId}>" />
                <input type="hidden" name="adslot[id]" value="<{$adslot.id}>" />
                <{include file="./_addAndEditCommonHtml.html"}>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" onclick="javascript:window.opener=null;window.open('','_self');window.close();" class="btn btn-cancel">取消</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- 主体内容 end -->
<!-- 页脚 -->
<{include file="../_common/footer.html"}>
<{include file="./_addAndEditCommonJs.html"}>
</body>
</html>
